EiffelCorp/BankService/WebContent/wsdl/BankWebServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice" xmlns:intf="http://webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="retrieveBalanceToAccount">
    <complexType>
     <sequence>
      <element name="price" type="xsd:int"/>
      <element name="iban" type="xsd:int"/>
      <element name="ownerFirstName" type="xsd:string"/>
      <element name="ownerLastName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveBalanceToAccountResponse">
    <complexType>
     <sequence>
      <element name="retrieveBalanceToAccountReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="retrieveBalanceToAccountResponse">

      <wsdl:part element="impl:retrieveBalanceToAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retrieveBalanceToAccountRequest">

      <wsdl:part element="impl:retrieveBalanceToAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankWebServiceImpl">

      <wsdl:operation name="retrieveBalanceToAccount">

         <wsdl:input message="impl:retrieveBalanceToAccountRequest" name="retrieveBalanceToAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:retrieveBalanceToAccountResponse" name="retrieveBalanceToAccountResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankWebServiceImplSoapBinding" type="impl:BankWebServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="retrieveBalanceToAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retrieveBalanceToAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retrieveBalanceToAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankWebServiceImplService">

      <wsdl:port binding="impl:BankWebServiceImplSoapBinding" name="BankWebServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/BankService/services/BankWebServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
